<!--TEXTO -->
<tr><td bgcolor="#00003D" style="padding:0px 50px 50px;">
    
<p style="color:#FFFFFF; font-family:'arial', tahoma, helvetica, 'sans-serif';  font-size:12px!important; font-style:normal; font-weight:normal; line-height:20px; margin:0; text-align:justify; text-transform:none; mso-line-height-rule:exactly;">
    <a href="mailto:atendimento@elevainvest.com.br" target="_blank" style="color:#00e18c">
        <font color="#00e18c">
            atendimento@elevainvest.com.br
        </font>    
    </a><br>
    Rua Pedroso Alvarenga, 1254<br>
    CJ 112 - Itaim Bibi<br>
    São Paulo, SP   
</p>
</td></tr>