<!-- Clients Section -->
<section class="clientes">
    <div class="container text-center">
        <h2 class="display-5 animate animate-up"><span>alguns dos nossos</span> Clientes</h2>
        
        <div class="row g-5 align-items-center" data-scroll="stagger">
            {% for cliente in clientes %}
                <div class="col-6 col-md-3 cliente animate animate-up">
                    <img src="{{ base_path() }}/assets/uploads/clientes/{{ cliente.imagem }}">
                </div>
            {% endfor %}
        </div>
    </div>
</section>