{% extends 'site/layouts/base.twig' %}

{% block title %}404 Página não encontrada - {% endblock %}

{% block content %}
<!-- Hero Section -->
<header class="banner-interno">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 animate animate-left">
                <h1>404 - Página não encontrada</h1>
            </div>
            <div class="col-lg-3 text-center">
                
            </div>
        </div>
    </div>
</header>


<section class="content-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center error-content animate animate-up">
                <div class="p-4 mb-5">
                    <div class="card-body">
                        <div class="icon-circle icon-circle-lg mb-4">
                            <i class="bi bi-search"></i>
                        </div>
                        <h2 class="mb-4">Ops! A página que você procura não foi encontrada.</h2>
                        <p class="mb-4">A página que você está tentando acessar pode ter sido movida, excluída ou nunca ter existido. Não se preocupe, você pode:</p>
                        
                        <div class="d-grid gap-3 mb-4">
                            <a href="{{ url_for('home') }}" class="btn btn-custom btn-lg">Voltar para a Página Inicial</a>
                            <a href="{{ url_for('produtos') }}" class="btn btn-custom btn-lg">Nossos Produtos</a>
                            <a href="{{ url_for('contato') }}" class="btn btn-clean btn-lg">Entrar em Contato</a>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</section>
{% endblock %}