body{ color:#343A40;}


.main-content{ max-width: 1400px; margin: 0 auto; padding: 0px 30px 0px 30px;}


.panel-body h3{ font-size: 22px;}

.panel-body .form-group { margin-bottom: 10px;}
.content-buttom{ text-align: right; padding: 0 20px;  margin: 0 10px 30px 0; }

#subheader { margin-bottom: 25px; position: relative; z-index: 9999; }
#subheader h3 { margin-bottom: 5px; }
#subheader .breadcrumb { padding: 0; margin-bottom: 5px; }
#subheader a.btn { position: absolute; right: 0px; top: 0; }


.navbar-default {    -webkit-transition: none;    transition: none;    -moz-box-shadow: none;    -webkit-border-radius: none;    box-shadow: none;}

.panel .table > thead > tr > td:first-child, .panel .table > thead > tr > th:first-child, .panel .table > tbody > tr > td:first-child, .panel .table > tbody > tr > th:first-child, .panel .table > tfoot > tr > td:first-child, .panel .table > tfoot > tr > th:first-child {
    padding-left: 10px; }

.table .btn-small{ padding:5px 10px;}

.navbar-default .brand { padding: 5px 5px; }
.navbar-default .brand img { width: 100%; max-width: 400px; }

.panel-body .form-group { margin-bottom: 0px;  min-height: 82px;}
span.helper{ font-size: 12px; color: red;  font-style: italic; font-weight: normal; margin-left: 10px;}
.helperShow{ border: 2px dotted #981029;}


.navbar-default{ background-color: transparent;}
.navbar-btn{ display: none;}
@media (max-width: 900px) {
    #wrapper .navbar{ background-color: #09213e;}
    .navbar-default .brand{ display: inline-block; width: 35%;}
    .navbar-btn { float: right; color: #fff; padding: 0; display: inline-block; }
    .btn-toggle-fullwidth { color: #fff !important;}

    .main-content{ padding: 0px 10px 20px 10px;}
    .h1_dash{ font-size: 26px !important;}

    #wrapper #sidebar-nav, #wrapper .main { padding-top: 70px; }
    .sidebar .nav > li > a { padding: 8px 10px;  font-size: 15px; }
    

}


#formErro{ font-size: 14px; color: red;  font-style: italic; }

label {margin-bottom: 3px; }

.space-b{ margin-bottom: 30px !important;}


.sidebar .nav > li > a { padding: 12px 20px;}

.btn-micro{padding: 0 10px !important;  margin: 0 5px !important;  border: 0 !important;}

.add{ text-align: center;}
.del{ margin-top: 22px; }



#links {clear: both;  overflow: hidden; }
#links h2{ font-size: 20px;  }
#links .link{  width: calc(50% - 34px); margin:6px 5px; -webkit-border-radius: 3px; display: inline-table;
    background-color: #fff;
    padding: 12px;
    -moz-border-radius: 10px;
    border-radius: 14px;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 8%);
    box-shadow: 0 2px 6px rgb(0 0 0 / 8%); }

#links .icone{ width: 50px; display: table-cell;  vertical-align: middle;}
#links .icon{ padding: 15px; background-color: #000E2D; color: #fff; border-radius: 12px; width: 100%; text-align: center;  }
#links .descricao{ display: table-cell; width: calc(100% - 230px); font-weight: 600; padding: 0 15px;  vertical-align: middle;}
#links .descricao span{ font-weight: normal; color: #0055a5 ; font-size: 12px;}
#links .botao{  width: 150px; display: table-cell;  vertical-align: middle; }
#links .botao a{padding: 12px 45px; display: block; background-color: #32e886; color: #fff; border-radius: 12px; text-align: center;}

@media (max-width: 750px) {
    #links .link{  width: 100% ; margin:6px 0px; padding: 6px;}
    #links .icone{ width: 40px; }
    #links .descricao{ width: calc(100% - 160px); padding: 0 10px; }
    #links .descricao span{  font-size: 11px;}
    #links .botao{  width: 100px; }
    #links .botao a{padding: 12px 10px; }
}


.breadcrumb { background-color: #fff; }
.panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow:none;
  box-shadow: none;
  background-color: none;
  margin-bottom: 30px;
}


.panel .panel-body { padding: 10px;}
.panel-body h2{ font-size: 20px;  }

.categorias{ border-bottom: 1px solid #09213e; overflow: hidden; margin: 15px 0 25px 0; padding: 5px 0px 20px 0px;}
.categorias h3{ font-size: 18px; margin: 0 0 10px 0; }

#cards {
    display: flex;
    flex-wrap: wrap;
    clear: both;
    overflow: hidden;
  }
  
  #cards h2 {
    font-size: 20px;
  }
  
  #cards .card {
    flex: 0 0 calc(25% - 12px);
    margin: 6px;
    border-radius: 14px;
    display: block;
    background-color: #fff;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  }
  
  @media (max-width: 750px) {
    #cards .card {
      flex: 0 0 calc(50% - 12px);
      margin: 6px;
      padding: 12px;
    }
  }
  
  #cards .card .capa {
    clear: both;
  }
  
  #cards .card .clear {
    clear: both;
  }
  
  #cards .card .capa .icone {
    float: left;
    padding: 15px;
    font-size: 18px;
    background-color: #000E2D;
    color: #fff;
    border-radius: 12px;
    width: 60px;
    text-align: center;
    margin: 10px 0;
  }
  
  #cards .card .capa .data {
    float: right;
    color: #0055a5;
    font-size: 12px;
  }
  
  #cards .card .titles {
    min-height: 80px;
  }
  
  #cards .card .titles h3 {
    color: #0055a5;
    font-size: 13px;
    margin: 0;
  }
  
  #cards .card .titles h2 {
    font-size: 15px;
    font-weight: 400;
    margin: 3px 0 0 0;
  }
  
  #cards .card .modulo {}
  
  #cards .card .modulo h3 {
    font-size: 13px;
    margin: 0;
  }
  




@media (max-width: 900px) {
    .lasts{ width: 100%; float: none;}
    #cards.lasts .card .titles{ min-height: 80px;}
    #cards.lasts .card{  width: calc(50% - 12px); margin:6px;  padding: 12px; }
}


footer{ width: calc(100% - 260px) !important; -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}

footer #disclaimers{ max-width: 1400px; margin: 0 auto; padding: 0px 30px 0px 30px; }
footer #disclaimers h4{ color:#000E2D; }
footer #disclaimers .txt{ font-size: 12px; }
footer #disclaimers .txt a{  cursor: pointer; }
footer #disclaimers .txt p{ display: none; }
footer #disclaimers .txt p:first-child{ display: block; }

footer { bottom: auto;}

@media (max-width: 900px) {
    footer{ width: 100% !important; }
    footer #disclaimers{ margin: 0 auto; padding: 0px 10px 0px 10px; }
    footer #disclaimers .txt{ font-size: 10px; }
}


button.btn{ font-size: 15px; font-weight: bold; }
.btnp { padding: 8px 35px; }

.btn{ background-color: #fff; border: 1px solid #A7ADB9; color:#818792; font-size: 15px; border-radius: 6px;}
.btn:hover{ background-color: #A7ADB9; color:#000; font-size: 15px; border-radius: 6px;}

.btn-primary { border-radius: 6px;
background-color: #000E2D;
border-color: #000E2D; color: #fff;}
.btn-primary:hover, .btn-primary:focus {
  background-color: #006070;
  border-color: #006070;  color: #fff;}
  

a.logout{ background-color: #000E2D; color:#fff; display: block; font-size: 16px; font-weight: 600; width: 75%; text-align: center; padding: 8px 10px; margin: 30px auto 0 auto; border-radius: 6px;}


#banners{ margin: 50px 0 50px 0;}
#banners .banner{ float: left; width: calc(33.33% - 10px); margin-right: 10px;}
#banners .banner img{ width: 100%;}

@media (max-width: 700px) {
    #banners{ margin: 30px 0 30px 0;}
    #banners .banner{ float: none; width: 100%; margin: 10px 0;}
}


#wrapper .main  { padding-bottom: 40px !important; background: transparent; margin-top: -40px}
.interno #wrapper .main  { padding-top: 0 !important; float: none !important; max-width: 1400px; margin: 30px auto; }
.interno header { text-align: center; margin: 20px 0 30px 0;}
.interno h1 { text-align: center; }
.interno footer { width: 100% !important; }

@media (max-width: 900px) {
    #wrapper .main  { padding-top: 80px; }
}


#conteudo{ width: 80%; max-width: 900px; margin: 0 auto;}
#conteudo h1{ margin: 0 auto; color:#000E2D;}
#conteudo h5{ margin: 10px 0 30px; font-size: 13px; color:#000E2D;}


#cards-lasts{ width: 100%;}
#cards-lasts h2{ font-size: 20px; margin-bottom: 15px;}
#cards-lasts .card .titles{ min-height: 50px;}
#cards-lasts .card{  flex: 0 0 calc(33.33% - 12px); }

#noticias{ margin: 40px 0 30px 0px; width: 100%; }
#noticias h2{ font-size: 20px; margin-bottom: 15px;}
#noticias .noticia{ float: left; width: calc(33.33% - 8px); padding: 10px 5px; border-radius: 10px; margin: 4px; min-height: 120px; background-color: #fff; border: 1px solid #DFE3EB; }
#noticias .noticia .img{ display: inline-block; width: 20%; vertical-align:top}
#noticias .noticia .img img{ width: 100%; max-width: 100px; border-radius: 10px;}
#noticias .noticia .titles{ display: inline-block; width: calc(79% - 5px); padding: 0 0 0 5px;}
#noticias .noticia .titles span{ display: block; color:#000E2D; font-size: 12px;}
#noticias .noticia .titles span.data{}

.clear{ clear: both;}

@media (max-width: 900px) {

    #cards-lasts .card{  flex: 0 0 calc(50% - 12px); }
    #cards-lasts .card:last-child {display: none;}

    #noticias .noticia{  width: calc(100% - 8px); }
}

@media (max-width: 700px) {
  #cards-lasts .card{  flex: 0 0 calc(100% - 12px); }
}


/* MODEL VIDEO */
.modal-dialog {    max-width: 1000px;    margin: 30px auto;}
.modal-body {position:relative;padding:0px;}
.close {position:absolute;right:-30px;top:0;z-index:999;font-size:2rem;font-weight: normal;color:#fff;opacity:1;}
/* FIM MODEL VIDEO */


.h1_dash{ margin: 0;}
.tradingview-widget-container{ margin: 30px 0 20px 0;}

.links { display: flex; flex-wrap: wrap; margin: 20px 0 20px 0;}
.links .box { width: 25%; padding: 5px; box-sizing: border-box;}
.links .box img{ width: 100%;}
  
@media (max-width: 700px) {
    .links .box { width: 50%;}
}
.links .box { width: 25%; padding: 5px; box-sizing: border-box;}
.links .box img{ width: 100%;}
  
@media (max-width: 700px) {
    .links .box { width: 50%;}
}


#filter{ margin-bottom: 25px;}
#filter.home{ margin: 50px 0 40px 0;}

@media (max-width: 750px) {
    #filter{ margin-bottom: 5px;}
    #filter .col-sm-3{ width: 100%; margin: 0 0 10px 0;}
    #filter .col-sm-3 + .col-sm-3{ width: 80%; float: left;}
    #filter .col-bt{ width: 20%; float: left; text-align: center;}
}


#filter .input-group {position: relative; display: inline-block; }
#filter label.input-group {font-weight: normal;}
#filter .input-group i { position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer; }
#filter .input-group input { padding-right: 30px; width:100%; border:none; outline: none; }


.formulario h2{ font-weight: bold;}
.formulario h4{ font-weight: 600;}
.formulario .row div{ margin-bottom: 10px;}

.btn-a {
  color: #28a745;
}

.btn-r {
  color: #dc3545;
}

.dashboard-block {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-circle {
  width: 50px;
  height: 50px;
  
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 15px;
  flex-shrink: 0;
  font-size: 22px;
}

.icon-total{ background-color: #17a2b8;}
.icon-aguardando{ background-color: #ffc107;}
.icon-aprovados{ background-color: #28a745;}
.icon-reprovados{ background-color: #dc3545;}

.block-text {
  text-align: right;
}

.block-text small {
  display: block;
  font-size: 14px;
  color: #6c757d;
}

.block-text .number {
  font-size: 26px;
  font-weight: bold;
  color: #343a40;
}


